.blaze-slider button {
    height: 8px;
    width: 8px;
    color: #fff;
    background: #bbb;
    padding: 0;
    color: #0000;
    margin: 5px;
}


.blaze-slider button.active {
    transform: scale(1.2);
    height: 10px;
    width: 10px;
    color: #fff;
    background: var(--pink);
    padding: 0;
    color: #0000;
}

.blaze-slider .blaze-prev,
.blaze-slider .blaze-next {
    background: #0000;
    color: var(--theme);
    font-size: 50px;
    height: auto;
    width: auto;
    margin: 0 20px;
}

.my-structure {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.blaze-slider {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}

.blaze-track ul {
    display: flex;
    align-items: center;
    height: 256px;

}

.blaze-track ul li {
    width: 33.3%;
    padding: 10px;
    height: 256px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.blaze-track ul li img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    border-radius: 10px;
}

.blaze-track ul li p {
    background: linear-gradient(to bottom, transparent, #000);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 30px);
    z-index: 999;
    border-radius: 0 0 10px 10px;
    padding: 5px;
}