.rank {
    width: 320px;
    height: 650px;
    overflow: hidden;
}

.rank .title {
    padding: 0 10px;
    height: 21px;
}

.rank .cover,
.rank .cover img {
    width: 170px;
    height: 230px;
    box-shadow: var(--shadow);
    border-radius: 2px;
    object-fit: cover;
}

.rank .current {
    display: flex;
    position: relative;
    padding: 0 7px 14px 7px;
}

.rank .current .title {
    font-size: 16px;
}

.rank .current .bom {
    position: absolute;
    display: flex;
    align-items: baseline;
    bottom: 12px;
}

.rank .current .bom .tag {
    font-size: 12px;
    padding: 0 10px;
    color: #bbb;
}

.rank .current .bom .idx {
    font-size: 60px;
    color: var(--primary);
    font-weight: bold;
    position: relative;
    bottom: -18px;
}

.rank li {
    display: flex;
    padding: 7px;
    cursor: pointer;
    position: relative;
}

.rank li span {
    font-size: 16px;
    font-weight: bold;
    color: #bbb;

}

.rank li .active {
    color: var(--primary);
}

.rank .top .active:after,
.rank .top .active:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 10px;
  background: var(--primary);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.rank .top {
    display: flex;
    align-items: baseline;
}

.rank .top ul {
    display: flex;
    padding: 0 10px;
}

.rank .top .active {
    color: var(--primary);
}