.wrap {
    width: 1300px;
    margin: 0 auto;
    /* display: flex; */
}

nav ul {
    display: flex;

}

nav {
    font-size: 18px;
    font-weight: bold;
    background: #f2f2f2;
    box-shadow: 2px 2px 4px #dde;
}

nav ul li {
    padding: 10px 100px;
}

nav li.active {
    color: var(--theme);
}

.home {
    display: flex;
    margin: 20px auto 0 auto;
}

.home .left {
    flex: 2;
    padding: 0 10px;
}

.home .middle {
    flex: 3;
}

.home h1 {
    font-size: 16px;
    padding: 15px;
}

.home li div {
    display: flex;
    padding: 10px;
}

.home li {
    display: flex;
}

.home .swiper img {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.home .swiper {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 95%;
}

.home .swiper p {
    background: var(--theme);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px 10px;
}

.home .middle li,
.home .left li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.home h2 {
    font-size: 18px;
    font-weight: normal;
}

.home .middle li {
    height: 100px;
}

.home .middle p {
    padding: 10px;
    color: #bbb;
}

.home .left li {}

.home b {
    color: #bbb;
}

.home .left b {
    color: var(--cyan);
}

.home p {
    padding-left: 10px;
}

.home .middle b {
    display: flex;
    padding: 2px 10px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background: var(--theme-bg);
    color: var(--theme);
    margin-right: 10px;
}

.home .right {
    flex: 1.5;
    height: 500px;
}

.list-h {
    padding: 10px;
    font-size: 18px;
}

.main {
    display: block!important;
    text-align: center;
    margin: 50px auto;
}

.main img {
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    width: 180px;
}

.main div img {
    margin: 20px;

}

.main .logo {
    border-radius: 50%
}

.main button {
    border-radius: 10px;
    color: #fff;
    background: #fa4b8b;
    border: none;
    padding: 10px 50px;
    margin: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.main h1 {
    color: #83a6ff;
}