header {
    height: 100px;
    /* background: var(--background); */
    display: flex;
    align-items: center;
}

header .wrap {
    width: 1268px;
    margin: 0 auto;
    cursor: pointer;
}

header .flex {
    display: flex;
    align-items: center;
}

header h1 {
    flex: 1;
    color: var(--theme);
    font-size: 45px;
    display: flex;
    align-items: flex-end;
}

header .search input {
    width: 500px;
    background: var(--theme-bg);
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
}

header .biu {
    display: flex;
    align-items: center;
}

header .biu li {
    padding: 10px;
    display: flex;
    align-items: center;
}

header .biu li i {
    padding: 10px;
}

header .avatar p {
    display: none;
}

header .icon-shouye {
    background: var(--theme);
    height: 40px;
    width: 40px;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
}

header .wallet {
    color: #fff;
    width: 200px;
    position: absolute;
    top: 80px;
    left: -70px;
    text-align: center;
    /* padding: 10px; */
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;
    z-index: 999;

}

header .wallet {
    padding-bottom: 10px;
}

header .wallet h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #444;
    background: rgba(0, 0, 0, 0.8);
}

header .wallet li:hover {
    background: #000;
}

header .wallet li {
    padding: 10px 20px;
}

header .wallet li a {
    color: #fff;
}

footer {
    margin: 50px 0;
    padding: 30px;
    text-align: center;
    color: #bbb;
    overflow: hidden;
}

footer a{
    display: block;
}

footer h1 {
    color: var(--theme);
}

footer ul {
    /* display: flex; */
    padding-bottom: 30px;
}

footer ul li {
    text-align: center;
    padding: 15px 30px;
    background: rgba(148, 108, 230, 0.2);
    display: inline-block;
    margin: 20px auto;
    border-radius: 4px;
    transition: 0.5s;
    color: var(--theme);
    cursor: pointer;
}

footer ul li:hover {
    background: #7e5fd9;
    color: #fff;
}

.icon-dadou {
    color: #ffc100;
}

footer img {
    width: 100px;
}

footer p {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

h1 span {
    font-size: 25px;
    padding: 2px 10px;
    background: var(--theme);
    color: #fff;
    border-radius: 100px;
    margin: 10px;
}