header {
    height: 100px;
    background: var(--background);
    display: flex;
    align-items: center;
}

header .wrap {
    width: 1268px;
    margin: 0 auto;
    cursor: pointer;
}

header .flex {
    display: flex;
    align-items: center;
}

header h1 {
    flex: 1;
    color: var(--theme);
    font-size: 45px;
}

header .search input {
    width: 500px;
    background: var(--theme-bg);
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
}

header .avatar {
    position: relative;
}

header .biu {
    display: flex;
    align-items: center;
}

header .biu li {
    padding: 10px;
    display: flex;
    align-items: center;
}

header .biu li i {
    padding: 10px;
}

header .biu .avatar,
header .biu .avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

header .icon-shouye {
    background: var(--theme);
    height: 40px;
    width: 40px;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
}

header .wallet {
    color: #fff;
    width: 200px;
    position: absolute;
    top: 60px;
    left: -70px;
    text-align: center;
    /* padding: 10px; */
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;

}

header .wallet {
    padding-bottom: 10px;
}

header .wallet h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #444;
    background: rgba(0, 0, 0, 0.8);
}

header .wallet li:hover {
    background: #000;
}

header .wallet li {
    padding: 10px 20px;
}

header .wallet li a {
    color: #fff;
}
footer{
    padding: 30px;
    text-align: center;
    color: #bbb;
    overflow: hidden;
    border-top: 1px solid #ddd;
}

.icon-vip{
    color: #ffc100;
}