.login {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login li {
    padding: 10px;
}

.login li input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.login li button{
    background: var(--theme);
    color: var(--whrite);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.login li h1{
    color: var(--theme);
    text-align: left;
}