.a {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.a li {
    width: 12.5%;
    display: inline-block;
    cursor: pointer;
}

.a .title {
    height: 20px;
    overflow: hidden;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
}

.a .item {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.a .cover,
.a .cover img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 4px 4px #f2f2f2;
    position: relative;

}

.a .cover:hover {
    /* box-shadow: 5px 5px var(--theme); */
}

.a p{
    font-size: 12px;
    color: #bbb;
    height: 36px;
    overflow: hidden;
}

.b {
    margin-top: 20px;
}

.b li {
    width: 12.5%;
    display: inline-block;
    cursor: pointer;
}

.b .title {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    height: 14px;
}

.b .item {
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.b .cover,
.b .cover img {
    width: 100%;
    height: 195px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 5px 5px #dddade;
    overflow: hidden;
    position: relative;
}

.a .cover .editor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: var(--theme);
    z-index: 9;
}