@media screen and (max-width: 600px) {

    .ep-wrap2 {
        display: none;
    }

    .imglist {
        display: none !important;
    }

    .wrap {
        width: 100%!important;
    }

    .a li{
        width: 50%;
    }

    .b li{
        width: 50%!important;
    }

    header .search input {
        width: 100%!important;
    }

    header .search {
       margin-right: 100px;
    }

    header h1 {
        flex: auto !important;
    }

    header {
        height: auto !important;
    }

    header .flex {
        flex-wrap: wrap;
    }

    .vip {
        width: 100%;
    }
}