.qrcode{
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.vip{
    margin: 30px auto;
    width: 500px;
    text-align: center;
}

h1{
    padding: 20px;
}

.vip ul li{
    width: calc(50%-20px);
    padding: 10px;
    border-radius: 5px;
    color: var(--pink);
    background: rgb(255, 43, 121,0.2);
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.vip ul .active{
    background: var(--pink);
    color: #fff;
}
