.wrap {
    width: 1500px;
    margin: 0 auto;
    /* display: flex; */
}

.ep-wrap2 {
    width: 1300px;
    border-radius: 10px;
    height: 731.3px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 5px 5px #dddade;
}

.imglist {
    display: flex;
}

.imglist li {
    margin: 40px 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 90px;
    width: 160px;
    background: var(--theme);
    cursor: pointer;
    box-shadow: 5px 5px #dddade;

}

.imglist img {
    height: 90px;
    width: 160px;
    border-radius: 10px;
    object-fit: cover;
}



.imglist .active {
    padding: 4px;
}

.home h1 {
    font-size: 30px;
    text-align: center;
    margin: 50px;
    letter-spacing: 20px;
}