main {
    background: url(https://static.gmgard.moe/Images/bg31.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 0;
}



.container {
    margin: 0 auto;
    width: 1100px;
    height: 4000px;
    background: #efeeef;
    /* background: url(https://static.gmgard.moe/Images/bg31.jpg); */
}

.left{
    background: #F7F7DE;
    width: 780px;
    height: 1000px;
}