@import url("//at.alicdn.com/t/font_1151392_5hwi3w2ygqu.css");

.upload-tm {
    width: 800px;
    min-height: 200px;
    margin: 30px auto;
}

.upload-tm h1 {
    color: var(--tm-theme);
    padding: 10px;
}

.upload-tm h1 span {
    font-size: 14px;
    padding: 10px;
    color: #666;
}

.upload-tm textarea {
    width: 100%;
    min-height: 200px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 10px 15px;
    resize: vertical;
    font-size: 16px;
    line-height: 20px;
    background: #f2f2f2;
}


.upload-tm section {
    padding: 10px;
    background: #f2f2f2;
}

.te {
    cursor: pointer;
    margin: 7px;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
}

.upload-tm .title input {
    padding: 10px 20px;
    border: none;
    width: 800px;
    box-sizing: border-box;
    background: #f2f2f2;
}

.upload-tm .title {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.upload-tm .tags {
    margin: 10px 0;
}

.upload-tm .tags li {
    display: inline-block;
    list-style: none;
    padding: 2px 10px;
    background: #FFDACD;
    color: var(--tm-theme);
    border-radius: 2px;
    margin: 5px;
}

.upload-tm .tags li.active {
    color: #fff;
    background: var(--tm-theme);
}

.upload-tm .submit button {
    background: var(--tm-theme);
    color: var(--whrite);
    margin: 0 auto;
    padding: 10px;
    border-radius: 18px;
    border: none;
    width: 100px;
    cursor: pointer;
    margin: 20px 0;
}

.options select {
    padding: 5px 17px;
    border: 0;
    color: #666;
    margin: 20px 20px 20px 0;
    background: #f2f2f2;
}

.upload-tm-video {
    padding: 10px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.articles li {
    display: inline-block;
    padding: 10px 30px;
    box-sizing: border-box;
    /* border: 1px solid var(--tm-theme); */
    background: #f2f2f2;
    cursor: pointer;
    color: var(--tm-theme);
    margin: 5px;
}