.comment {
    width: 420px;
    position: relative;
    margin-bottom: 80px;
}

.comment-item {
    box-sizing: border-box;
    padding: 10px;
}

.comment h1 span {
    padding: 0;
    position: relative;
    top: -5px;
}

.comment h1 {
    font-weight: normal;
    padding: 10px;
}

.comment-item li {
    display: flex;
    align-items: center;
}

.comment-item time {
    color: #888;
    font-size: 12px;
}

.comment-item p {
    color: #fff;
    padding: 10px;
}

.comment-input {
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    width: 400px;
    background: #111;
    box-sizing: border-box;
}

.comment-input input {
    background: var(--primary-bg);
    color: #fff;
    height: 30px;
    border: 0px;
    border-radius: 30px;
    padding: 0 10px;
    flex: 1;
}

.comment-input button {
    position: absolute;
    right: 20px;
    height: 30px;
    padding: 0 10px;
}

.rate ul {
    display: flex;
    justify-content: center;
}

.comment-item ul {
    display: flex;
}