@media screen and (max-width: 900px) {

    .ep-wrap2 {
        display: none;
    }

    .ep-wrap {
        width: 100%!important;
        border-radius: 0px!important;
        height: 57%!important;
    }

    .p ul{
       width: 100%!important;
       height: auto!important; 
    }

    .player.wrap{
        flex-wrap: wrap;
    }

    .info {
        width: 100%!important;
    }

    .imglist {
        display: none !important;
    }

    .wrap {
        width: 100% !important;
    }

    .a li {
        width: 50%!important;
    }

    .upload-tm .title input{
        width: 100%!important;
    }
    
    .upload-tm{
        width: 100%!important;
    }

    .b li {
        width: 50% !important;
    }

    header .search input {
        width: 100% !important;
    }

    header .search {
        display: none;
        margin-right: 100px;
    }

    header h1 {
        flex: auto !important;
    }

    header {
        height: auto !important;
    }

    header .flex {
        flex-wrap: wrap;
    }

    .vip {
        width: 100%;
    }

    article {
        width: 100%!important;
        box-sizing: border-box;
    }

    .upload{
        width: 100%!important;
        padding: 10px;
        box-sizing: border-box;
    }

    .upload .title input{
        width: 100%!important;
    }
}