/* main {
    display: flex;
} */

.left2 {
    background: #fff;
    box-shadow: 2px 2px #eee;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.left2 h1 {
    text-align: center;
    padding: 15px;
}

.right section {
    width: 400px;
    height: 800px;
    overflow: scroll;
}

.right section ul {
    margin: 10px;
}

.right section li {
    list-style: none;
    padding: 3px 10px;
    background: var(--tm-theme-bg);
    color: var(--tm-theme);
    border-radius: 5px;
    margin: 5px;
}

.right section li.active {
    color: #fff;
    background: var(--tm-theme);
}

.left2 article {
    font-size: 16px;
    line-height: 40px;
    padding: 10px;
}

.left2 b {
    display: block;
    font-weight: normal;
    font-size: 12px;
    padding: 10px 0;
}

.left2 p {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}