.player.wrap {
    width: 1380px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1);

}

.ep-wrap {
    width: 1000px;
    border-radius: 5px 0 0 5px;
    height: 562.5px;
    overflow: hidden;
    position: relative
}

.player {
    background: #fff;
    border-radius: 5px;
}

.p {
    padding: 0 10px;
    box-sizing: border-box;
    width: 360px;
    position: relative;
    overflow: scroll;
    height: 562px;
}

.p h1 {
    padding: 0 10px;
    font-size: 20px !important;

}

.p h1 span {
    font-size: 14px;
}

.p ul li {
    line-height: 40px;
    border-radius: 5px;
    background: var(--theme-bg);
    color: var(--theme);
    margin: 10px;
    cursor: pointer;
    padding: 0 10px;
}

.p ul .active {
    background: #b692ff;
    color: #fff;
}


.p ul {
    width: 360px;
}

.p .info {
    padding: 0;
    margin: 0;
}

.article {
    width: 340px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 560px;
    overflow: scroll;
    background: #fff;
}

.xiangqing {
    display: flex;
    align-items: center;
}

.xiangqing li {
    flex: 1;
}

#mycanvas {
    margin: 0 auto;
    width: 1000px;
    border-radius: 5px;
    overflow: hidden
}
.canvas-wrap{
    width: 1000px;
    margin: 0 auto;
}
.xiangqing p {
    font-size: 36px;
    color: #946ce6 !important;
    padding: 0;
    cursor: pointer;
    padding-right: 20px;
}

.article h1 {
    padding-bottom: 20px;
}

.avatar-wrap {
    display: flex;
    align-items: center;
    width: 360px;
}

.avatar-wrap .avatar {
    flex: 1;
}

.avatar-wrap li {
    cursor: pointer;
    font-size: 16px;
    color: var(--theme);
    padding-right: 10px;
}

.qq {
    background: #fb7600 !important;
    color: #fff !important;
}

.iqiyi {
    background: #00fb71 !important;
    color: #fff !important;
}

.bilibili {
    background: #00fb71 !important;
    color: #fff !important;
}

article img[alt=suo] {
    width: 100%;
    border-radius: 2px;
}

article img {
    max-width: 100%;
    border-radius: 2px;
}

article h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    margin: 20px 0;
    border-left: 5px solid #946ce6;
}

article h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin: 18px 0;
    border-left: 5px solid #946ce6;
}

article h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    margin: 16px 0;
    border-left: 5px solid #946ce6;
}

article blockquote {
    word-wrap: break-word;
    background: rgba(148, 108, 230, 0.1);
    color: #946ce6;
    padding: 10px;
    margin: 10px 0;
}

article a {
    text-decoration: none;
    color: #946ce6;
    padding: 0 5px;
    font-weight: bold;
}

.info {

    width: 1380px;
    margin: 20px auto;
}

.info a {
    display: block;
    font-size: 20px;
    padding: 20px;
}

.info h1 {
    font-size: 28px;
}

.info p {
    padding: 10px;
    font-weight: bold;
    color: #666;
}

.info .tag {
    display: inline-block;
}

.info .tags li {
    font-size: 16px;
    cursor: pointer;
}

.icon-shouye {
    background-color: #fbde00;
    color: #333;
    padding: 8px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* .poster {
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.poster::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(1.2);
    
} */
.poster {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://p5.music.126.net/obj/wo3DlcOGw6DClTvDisK1/4602256867/5855/63fb/325b/d7e4e3a244701ee85fecb5d4f6b5bd57.png?imageView=&quality=75&thumbnail=200y200);

}

.poster img {
    width: 150px;
    height: 150px;
    padding: 25px;
    object-fit: fill;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}

.poster:before {}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.article2 {
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    width: 960px;
    margin: 20px auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
}

.article2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}