.player.wrap {
    width: 1200px;
    display: flex;
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
}

.ep-wrap {
    width: 900px;
    height: 500px;
    overflow: hidden;
    position: relative
}


.p {
    padding: 0 10px;
    box-sizing: border-box;
    width: 320px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.p h1 {
    padding: 0 10px;
    font-size: 20px !important;
}

.p h1 span {
    font-size: 14px;
}

.p ul li {
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
}

.p ul .active {
    color: var(--primary);
}


.p ul {}

.p .info {
    padding: 0;
    margin: 0;
}

.article {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 300px;
    overflow: scroll;
    background: #333;
}

.xiangqing {
    display: flex;
    align-items: center;
}

.xiangqing li {
    flex: 1;
}

#mycanvas {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden
}

.canvas-wrap {
    width: 1000px;
    margin: 0 auto;
}

.xiangqing p {
    font-size: 36px;
    color: var(--primary) !important;
    padding: 0;
    cursor: pointer;
    padding-right: 10px;
}

.article h1 {
    padding-bottom: 10px;
}

.avatar-wrap {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;
}

.avatar-wrap .avatar {
    flex: 1;
}

.avatar-wrap li {
    cursor: pointer;
    font-size: 16px;
    color: var(--primary);
    padding-right: 10px;
}


article img[alt=suo] {
    width: 600px;
    border-radius: 2px;
}

article img {
    max-width: 100%;
    border-radius: 2px;
}

article h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    margin: 20px 0;
    border-left: 5px solid var(--primary);
}

article h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin: 18px 0;
    border-left: 5px solid var(--primary);
}

article h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    margin: 16px 0;
    border-left: 5px solid var(--primary);
}

article blockquote {
    word-wrap: break-word;
    background: rgba(148, 108, 230, 0.1);
    color: var(--primary);
    padding: 10px;
    margin: 10px 0;
}

article a {
    text-decoration: none;
    color: var(--primary);
    padding: 0 5px;
    font-weight: bold;
}

.info {

    /* width: 1380px; */
    margin: 20px auto;
}

.info a {
    display: block;
    font-size: 20px;
    padding: 20px;
}

.info h1 {
    font-size: 28px;
}

.info p {
    padding: 10px;
    font-weight: bold;
    color: #666;
}

.info .tag {
    display: inline-block;
}

.info .tags li {
    font-size: 16px;
    cursor: pointer;
}

.icon-shouye {
    background-color: #fbde00;
    color: #333;
    padding: 8px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* .poster {
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.poster::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(1.2);
    
} */

.p::-webkit-scrollbar {

    display: none;
    /* Chrome Safari */

}

.article::-webkit-scrollbar {

    display: none;
    /* Chrome Safari */

}



.poster {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(https://p5.music.126.net/obj/wo3DlcOGw6DClTvDisK1/4602256867/5855/63fb/325b/d7e4e3a244701ee85fecb5d4f6b5bd57.png?imageView=&quality=75&thumbnail=200y200);

}

.poster img {
    width: 150px;
    height: 150px;
    padding: 25px;
    object-fit: fill;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}

.poster:before {}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.article2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}